.user-menu>span {
  position: relative;
  display: block;
  padding: 15px 15px;
  color: #fff;
}

.user-menu a{
  color: #FFF;
  cursor: pointer;
}

@media (max-width: 991px){
  .navbar-custom-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 40px;
  }
}